<% include ../partials/header.ejs %>
<!-- This page allows user to edit their profile -->
<main class="container outer-semitransparent">
    <h1>Edit My Profile</h1><br />
    <div class="form-group">
        <form method="post">
            <fieldset class="form-group col-md-4 col-md-offset-4">
                <label for="email">Email: *</label>
                <input name="email" type="email" class="form-control" required value="<%= user.email %>" autofocus />
            </fieldset>
            <fieldset class="form-group col-md-4 col-md-offset-4">
                <label for="username">Username: *</label>
                <input name="username" type="text" class="form-control" required value="<%= user.username %>" />
            </fieldset>
            <fieldset class="form-group col-md-4 col-md-offset-4">
                <label for="password">Password: *</label>
                <input name="password" type="password" class="form-control" required value="<%= user.password %>"/>
            </fieldset>
            <fieldset class="form-group col-md-4 col-md-offset-4">
                <label for="displayName">Display Name: *</label>
                <input name="displayName" type="text" class="form-control" required value="<%= user.displayName %>"/>
            </fieldset>
            <fieldset class="form-group col-md-12" align="center">
                <button type="submit" class="btn btn-primary" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update</button>
                <a href="/users/delete/<%= user._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete your account?');" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
                <a href="/users" title="Cancel"  class="btn btn-default">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>

</main>
<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>
