<%- include partials/header.ejs %>


<main class="container">
    <h1>Take a Survey</h1>
    <div class="list-group">
        <% for (var i = 0; i < surveys.length; i++) { %>
        <a href="/takeSurvey/<%= surveys[i]._id %>" title="Take Survey" class="list-group-item">
            <h4 class="list-group-item-heading">
                <span >Name:<%= surveys[i].name %> || </span>
                <span >Category:<%=  surveys[i].category %></span>
                <span class="pull-right"> Created By:<%=  surveys[i].username %></span>
            </h4>
            <p class="list-group-item-text"><%= surveys[i].description %></p>
        </a>
        <% } %>
    </div>
</main>


<% include partials/boot.ejs %>
<%- include partials/footer.ejs %>
